$source-code-pro-font-base-path: "../../assets/font/SourceCodePro";
$source-code-pro-font-base-woff-path: "#{$source-code-pro-font-base-path}/WOFF";
$source-code-pro-font-base-woff2-path: "#{$source-code-pro-font-base-path}/WOFF2";

@font-face {
	font-family: "Source Code Pro";
	font-style: italic;
	font-weight: 200 900;
	font-display: swap;
	src:
		url("#{$source-code-pro-font-base-woff2-path}/VF/SourceCodeVF-Italic.otf.woff2")
			format("woff2"),
		url("#{$source-code-pro-font-base-woff2-path}/VF/SourceCodeVF-Italic.ttf.woff2")
			format("woff2"),
		url("#{$source-code-pro-font-base-woff-path}/VF/SourceCodeVF-Italic.otf.woff")
			format("woff"),
		url("#{$source-code-pro-font-base-woff-path}/VF/SourceCodeVF-Italic.ttf.woff")
			format("woff");
}

@font-face {
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 200 900;
	font-display: swap;
	src:
		url("#{$source-code-pro-font-base-woff2-path}/VF/SourceCodeVF-Upright.otf.woff2")
			format("woff2"),
		url("#{$source-code-pro-font-base-woff2-path}/VF/SourceCodeVF-Upright.ttf.woff2")
			format("woff2"),
		url("#{$source-code-pro-font-base-woff-path}/VF/SourceCodeVF-Upright.otf.woff")
			format("woff"),
		url("#{$source-code-pro-font-base-woff-path}/VF/SourceCodeVF-Upright.ttf.woff")
			format("woff");
}
