$source-serif-4-font-base-path: "../../assets/font/SourceSerif4";
$source-serif-4-font-base-woff-path: "#{$source-serif-4-font-base-path}/WOFF";
$source-serif-4-font-base-woff2-path: "#{$source-serif-4-font-base-path}/WOFF2";

@font-face {
	font-family: "Source Serif 4";
	font-style: italic;
	font-weight: 200 900;
	font-display: swap;
	src:
		url("#{$source-serif-4-font-base-woff2-path}/VAR/SourceSerif4Variable-Italic.otf.woff2")
			format("woff2"),
		url("#{$source-serif-4-font-base-woff2-path}/VAR/SourceSerif4Variable-Italic.ttf.woff2")
			format("woff2"),
		url("#{$source-serif-4-font-base-woff-path}/VAR/SourceSerif4Variable-Italic.otf.woff")
			format("woff"),
		url("#{$source-serif-4-font-base-woff-path}/VAR/SourceSerif4Variable-Italic.ttf.woff")
			format("woff");
}

@font-face {
	font-family: "Source Serif 4";
	font-style: normal;
	font-weight: 200 900;
	font-display: swap;
	src:
		url("#{$source-serif-4-font-base-woff2-path}/VAR/SourceSerif4Variable-Roman.otf.woff2")
			format("woff2"),
		url("#{$source-serif-4-font-base-woff2-path}/VAR/SourceSerif4Variable-Roman.ttf.woff2")
			format("woff2"),
		url("#{$source-serif-4-font-base-woff-path}/VAR/SourceSerif4Variable-Roman.otf.woff")
			format("woff"),
		url("#{$source-serif-4-font-base-woff-path}/VAR/SourceSerif4Variable-Roman.ttf.woff")
			format("woff");
}
